<% for task in @tasks do %>
  <div>
    <h2><%= task.name %></h2>
    <p><%= task.description %></p>
    <p><strong>Time Spent : <%= pluralize task.time_spent, "min" %></strong>
  <div>
<% end %>
<br />

<%= link_to 'New Task', new_project_task_path(@project) %>
